<ion-header>
  <ion-toolbar>
    <ion-title>RegistrAPP</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" color="primary" mode="ios"> </ion-back-button>
    </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #formulario="ngForm" (ngSubmit)="onSubmit()">
  
    <ion-list-header> <h2>Restablecer Contraseña</h2> </ion-list-header>
    
    <ion-item class="input">
      <ion-input type="email" placeholder="Correo" name="email" value="" [(ngModel)]= "user_r_pasword.email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required>
      </ion-input>
    </ion-item>
    
    <ion-button type="submit" class="btn" expand="block" routerLink="/home">Enviar correo</ion-button>
  
</form>

</ion-content>
