<ion-header>
  <ion-toolbar>
    <ion-title>Asistencia</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/" text="" color="primary" mode="ios"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="none">
    <ion-item>
      <ion-label>Curso 1: % Asistencia</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-label>Curso 2: % Asistencia</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-label>Curso 3: % Asistencia</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
