<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="showMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>[PH] Clase 11</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/" text="" color="primary" mode="ios"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/placeholders/PlaceholderQR.png" class="ion-padding">
    <ion-card-header>
      <ion-card-subtitle>Recuerda proyectar el codigo QR antes de terminar la clase.</ion-card-subtitle>
    </ion-card-header>
    <ion-list>
      <ion-item>Escaneos: 0/5</ion-item>
    </ion-list>
  </ion-card>
</ion-content>
