<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="showMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{class}}</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/" text="" color="primary" mode="ios"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="iniciarClase()" class="btn" expand="block">
    Iniciar Clase
  </ion-button>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Estudiantes:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let a of alumnos">
          <ion-label>{{a["nombre"]}}</ion-label>
          <ion-label>{{a["cursos"][class]}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
