<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="showMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cursos</ion-title>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>[PH] Nombre Curso</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Awesome content
    </ion-card-content>
    <ion-item href="course">
      <ion-label>Ver Curso</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
