<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="showMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cursos</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/" text="" color="primary" mode="ios"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let c of cursos">
    <ion-card-header>
      <ion-card-title>{{c[0]}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Clases realizadas: {{c[1]}}</p>
    </ion-card-content>
    <ion-button (click)="setClase(c[0], c[1])" class="btn" expand="block">
      Ver Curso
    </ion-button>
  </ion-card>

</ion-content>
