<ion-app>
  <ion-menu contentId="main" menuId="first" side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>

        <ion-menu-toggle *ngFor="let p of menuPages">
          <ion-item [routerLink]="p.redirect" detail=true>
            <ion-icon slot="start" [name]="p.icon" color="primary"></ion-icon>
            {{ p.name }}
          </ion-item>
        </ion-menu-toggle>
         
        <ion-item routerLink="/login" (click)="Salir()">
          <ion-icon slot="start" name="exit-outline" color="primary"></ion-icon>
          Salir
        </ion-item>

      </ion-list> 
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
