<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title class="titulo">RegistrAPP</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" color="primary" mode="ios"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="formCurso" (keyup.enter)="setCourses()">
    <ion-list-header> <h2>Escribir Cursos</h2> </ion-list-header>

    <ion-item class="input">
      <ion-input type="text" formControlName="curso" placeholder="CUR0000"></ion-input>
    </ion-item>

  </form>
  
  <ion-button (click)="setCourses()" class="btn" expand="block">
    Agregar
  </ion-button>
  <br><br><br>
  <ion-button (click)="terminar()" class="btn" expand="block">
    Terminar
  </ion-button> 

</ion-content>

<ion-footer>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="end">
  <ion-button [routerLink] = "['/about-us']" >Sobre Nosotr@s</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
