<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <icon-card>
      <img src="assets/logo.png">
    </icon-card>
  </ion-card>
  
  <form #formulario="ngForm" (ngSubmit)="onSubmit()">
  
    <ion-list-header> <h2>Ingresar</h2> </ion-list-header>
    
    <ion-item class="input">
      <ion-input type="email" placeholder="Correo" name="email" value="" [(ngModel)]= "usuario.email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required>
      </ion-input>
    </ion-item>
    
    <ion-item class="input">
      <ion-input type="password" placeholder="Contraseña" name="password" value="" [(ngModel)]= "usuario.password" required>
      </ion-input>
    </ion-item>
    
    <ion-button routerLink="/r-password" color="tertiary" fill="clear" expand="block" size="small">
      <span class="restablecer">Restablecer Contraseña</span>
    </ion-button>

    <ion-button type="submit" class="btn" expand="block" routerLink="/s-profile">
    <!-- <ion-button [disabled] ="formulario.invalid" type="submit" class="btn" expand="block" routerLink="/inicio"> -->
      Confirmar
    </ion-button>
  
  
</form>

<ion-button routerLink="/create-user" class="btn" expand="block">Crear Usuario</ion-button>

<ion-button routerLink="/about-us" class="about-btn">Sobre Nosotr@s</ion-button>

</ion-content>

