<ion-header>
  <ion-toolbar>
    <!-- <ion-title>Sobre Nosotr@s</ion-title> 

    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" color="primary" mode="ios"> </ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-card>
    
    <ion-card-header>
      <ion-card-title>Sobre Nosotr@s</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <p class="parrafo">
        El retorno a las actividades en forma presencial, después de la pandemia, ha generado una serie de dificultades debido al formato que de debe cumplir, una de estas es el registro de la asistencia a clases de los alumnos. L@s docentes al pasar la lista, pueden cometer errores por diferentes motivos.
      </p>
      <br>
      <p class="parrafo">
        Es por esto que estamos desarrollando RegistrAPP, una herramienta que permite a cada estudiante registrar su propia asistencia mediante un codigo QR proyectado por el profesor en cada clase.
      </p>
    </ion-card-content>

    <img src="assets/Duoc_UC_Sede_Maipu.jpg" class="ion-padding">

  </ion-card>

</ion-content>
